* {
    box-sizing: border-box;
}

body{
    background-color: #343a40;
}

.gif {
    width: 100%;
}


.card {
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

#favorites {
    height: 100%;
    width: 100%;
    background-color: black;
}

button{
    margin: 10px;
}